@tailwind base;
@tailwind components;
@tailwind utilities;

/* basic setup */

#root {
  background-color: black;
}

html, body, #root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}



/* container for content */
#container {
  perspective: 1200px;
  width: 80%;
  height: 100%;
  margin: auto;

  color: white;
}


/* container for the container used purely for return page to full view */
#returnContainer {
  height: 100%;
  width: 100%;

  font-size: 40px;
}


.menuVis #returnContainer {
  pointer-events: none;
}


/* the 'container' for the page */
#content {
  height: 100%;
  width: 100%;
  transition-duration: 300ms;
  
  background-color: black;
}


#content.menuVis {
  transform-origin: 0 50%;
  display: block;
  position: absolute;
  transform:  translateZ(-150px) translateY(0) rotateY(45deg) translateX(-100px);
  transition-duration: 300ms;

  border: 20px darkcyan solid;

}

#content.menuVis:hover {
  cursor: pointer;
}


/* the hamburger menu */
#hamborg {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
}

#hamborg:hover {
  cursor: pointer;
  color: darkcyan;
}


/* page menu */
#menu {
  position: fixed;
  top: 30%;
  right: 15%;
  transition-duration: 300ms;

  font-size: 45px;
  font-weight: 700;
  text-transform: uppercase;

  color: white;
  z-index: 1;
}


#menu.menuInvis {
  opacity: 0;
  pointer-events: none;
}

#menu.menuVis {
  opacity: 1;
}

.menuItem {
  cursor: pointer;
}

.selected {
  color: white;
}

.unSelected {
  -webkit-text-stroke: 1px white;
  color: rgba(0,0,0,0);
}








/* helpful links */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_transforms/Using_CSS_transforms */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/transform */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/transform-function/perspective */
/* translateZ(-1800px) translateX(-50%) rotateY(45deg) */